<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бесплатная юридическая консультация в Нижнем Новгороде</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="description" content="Бесплатная юридическая консультация в Нижнем Новгороде" />
    <meta name="robots" content="index, follow" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(102652563, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/102652563" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>
<body>

<header>
    <a href="/" class="header-logo">
        <img src="/icons/logo.png" alt="Логотип">
        <h3>Хлыстов Сергей Игоревич</h3>
    </a>
    <aside class="header-container">
        <div class="header-contacts">
            <div class="header-phone">
                <img width="20" src="/icons/svg/call.svg" alt="Телефон">
                <a href="tel:+79524616931">+7 (952) 461-69-31</a>
            </div>
            <button class="header-button header-button__networks">
                <a href="https://t.me/KhlystovNN"><img width="18" src="/icons/svg/telegram.svg" alt="Telegram"></a>
            </button>
            <button class="header-button header-button__networks">
                <a href="https://wa.me/+79524616931"><img width="18" src="/icons/svg/whatsapp.svg" alt="Whatsapp"></a>
            </button>
        </div>
    </aside>
</header>

<main>
    <div class="main-container">
        <section class="banner">
            <div class="banner-content">
                <h1 class="banner-title">Спасибо за вашу заявку! Мы свяжемся с вами в ближайшее время.</h1>
            </div>
        </section>
    </div>
</main>
</body>
</html>
